*,
*::before,
*::after {
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: var(--color-base);
    font-family: $fontBase;
    background-color: #f9fafc;
    --scroll: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: $fontAdd;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: transparent;
    font-family: $fontBase;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1320px + 120px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1439px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: 639px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
    @media (max-width: 1439px) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    @media (max-width: 639px) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

.vectors {
    display: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}