section.feedback#feedback
	.container 
		.feedback__wrap
			.feedback__head
				h2.feedback__title Оставьте заявку
				span.feedback__subtitle Наш специалист перезвонит, чтобы рассказать о деталях и ответить на возникшие вопросы.
			form.feedback__content
				.feedback__values 
					input(type="text" placeholder="Имя")
					input.phone(type="text" name="phone")
				button(type="submit").btn.btn--arrow.feedback__submit
					span.btn__text Оставить заявку
					span.btn__arr