head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
	title Title here
	script(src="https://api-maps.yandex.ru/2.1.79/?lang=ru_RU&amp;apikey=<ваш API-ключ>")
body 