section.quiz 
	.container 
		h2.quiz__title Рассчитайте заработок за месяц в нашем таксопарке
		.quiz__wrap
			.quiz__content 
				.quiz__head 
					span.quiz__text Ответьте всего на 2 вопроса
					span.quiz__count 
						span.quiz__count-current 1
						span /
						span.quiz__count-total
				.quiz__item.active
					h2.quiz__item-title Выберите график
					ul.quiz__list 
						li.quiz__list-item
							input(type="radio" id="check1" name="graphik")
							label(for="check1")
								span.quiz__list-text 1/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check2" name="graphik")
							label(for="check2")
								span.quiz__list-text 3/3
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check3" name="graphik")
							label(for="check3")
								span.quiz__list-text 5/2
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check4" name="graphik")
							label(for="check4")
								span.quiz__list-text 6/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check5" name="graphik")
							label(for="check5")
								span.quiz__list-text 7/0
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')

					.quiz__footer 

						span.quiz__next Далее
							svg(width='24' height='24')
								use(href='#arrow-next')

				.quiz__item 
					h2.quiz__item-title Выберите график
					.quiz__list 
						li.quiz__list-item
							input(type="radio" id="check6" name="graphik2")
							label(for="check6")
								span.quiz__list-text 1/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check7" name="graphik2")
							label(for="check7")
								span.quiz__list-text 3/3
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check8" name="graphik2")
							label(for="check8")
								span.quiz__list-text 5/2
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check9" name="graphik2")
							label(for="check9")
								span.quiz__list-text 6/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check10" name="graphik2")
							label(for="check10")
								span.quiz__list-text 7/0
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')

					.quiz__footer 
						span.quiz__back 
							svg(width='40' height='40')
								use(href='#arrow-back')
						span.quiz__next Далее
							svg(width='24' height='24')
								use(href='#arrow-next')


				.quiz__item 
					h2.quiz__item-title Выберите график
					.quiz__list 
						li.quiz__list-item
							input(type="radio" id="check11" name="graphik3")
							label(for="check11")
								span.quiz__list-text 1/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check12" name="graphik3")
							label(for="check12")
								span.quiz__list-text 3/3
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check13" name="graphik3")
							label(for="check13")
								span.quiz__list-text 5/2
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check14" name="graphik3")
							label(for="check14")
								span.quiz__list-text 6/1
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')
						li.quiz__list-item 
							input(type="radio" id="check15" name="graphik3")
							label(for="check15")
								span.quiz__list-text 7/0
								.quiz__list-footer
									span график
									svg(width='16' height='16')
										use(href='#icn-help')

					.quiz__footer 
						span.quiz__back 
							svg(width='40' height='40')
								use(href='#arrow-back')




			.quiz__total 
				span.quiz__total-title Ваш заработок
				span.quiz__total-text 0 ₽/мес.
				span.btn.btn--arrow.open-modal
					.btn__text Оставить заявку
					.btn__arr