extends layout
block main 
	main
		.breadcrumbs.container 
			a(href="/") Главная
			span О компании
		section.about 
			.container 
				.about__wrap 
					.about__head
						h2.about__title.title-center О компании
						.about__subtitle С 2018 года мы <span>предоставляем в аренду легковые автомашины</span> для пассажирских перевозок легковым такси.
						.about-grid
							.about-grid__item.gr1
								span.about-grid__name 1300+ авто
								span.about-grid__text Развивающаяся сеть представительств в городах Москва, Екатеринбург, Ярославль, Кострома, Челябинск.
							.about-grid__item.gr2
								span.about-grid__name 7+ млн. поездок
								span.about-grid__text Ежегодно нашим автотранспортом выполняется.
							.about-grid__item.gr3 
								span.about-grid__name Наши ценности
								span.about-grid__text Командный дух и клиентоориентированность.
							.about-grid__item.gr4
								span.about-grid__name Рост
								span.about-grid__text Постоянно совершенствуем обслуживание водителей, внедряем современные инструменты и технологии, что значительно сокращает время обработки обращений.

		section.help-block
			.container
				.help-block__wrap 
					.help-block__col-l
						h2.help-block__title <span>Помогаем</span> разным людям получить равные возможности
					.help-block__col-r
						span Мы трудимся, что сделать работу в такси максимально комфортной. Занимайтесь любимым делом, а об остальном мы позаботимся.

						
		section.principles 
			.container 
				h2.principles__title.title-center
					span Наши принципы
				.principles__wrap 
					.principles__item 
						span.principles__item-title Клиентоориен-тированность
						ul.principles__list 
							li.principles__list-item быстрое оформление;
							li.principles__list-item собственный колл-центр и круглосуточная поддержка водителей;
							li.principles__list-item оплата аренды 2 раза в сутки равными платежами;
							li.principles__list-item моментальный вывод денежных средств;
							li.principles__list-item проводим розыгрыши среди водителей;
							li.principles__list-item помощь в оформлении КИС АРТ или решении спорных ситуаций с агрегатором.

					.principles__item
						span.principles__item-title Уважение и доступность
						ul.principles__list
							li.principles__list-item участвуем в социальных проектах;
							li.principles__list-item обслуживаем водителей независимо от пола и возраста;
							li.principles__list-item глухонемые и слабослышащие водители;
							li.principles__list-item аренда посменно или по графикам 6/1 или 7/0.
					.principles__item
						span.principles__item-title Честность
						ul.principles__list
							li.principles__list-item без залогов и скрытых платежей;
							li.principles__list-item условия обговариваем и прописываем в договоре;
							li.principles__list-item проводим осмотр при выдаче и возвращении арендованной автомашины, фиксируем все замечания и сохраняем в базе
							li.principles__list-item используя приложение для водителя, Вы получаете полную информацию о каждом полученном или потраченном рубле.
					.principles__item
						span.principles__item-title Безопасность
						ul.principles__list
							li.principles__list-item без залогов и скрытых платежей;
							li.principles__list-item условия обговариваем и прописываем в договоре;
							li.principles__list-item проводим осмотр при выдаче и возвращении арендованной автомашины, фиксируем все замечания и сохраняем в базе
							li.principles__list-item используя приложение для водителя, Вы получаете полную информацию о каждом полученном или потраченном рубле.